<div class="well">
    <h1>{{title}}</h1>

    <form name="addTipFrom">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Username" ng-model="tip.username" ng-change="noSpace()" required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Message" ng-model="tip.message" ng-change="noSpace()">
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <a class="btn btn-default" href="/list"><i class="fa fa-ban"></i> Cancel</a>
                    <button class="btn btn-primary" ng-click="save()" ng-disabled="addTipFrom.$invalid"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>